.menu,
.menu * {
  box-sizing: border-box;
}
.menu {
  border-style: solid;
  border-color: #c8c8c8;
  border-width: 0px 0px 1px 0px;
  width: 100%;
  height: 18%;
  position: absolute;
  overflow: hidden;
}

/* User Information */

.login {
  border-style: solid;
  border-color: #c8c8c8;
  border-width: 0px 1px 0px 0px;
  width: 230px;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.name-rectangle {
  background: #4fa2e2;
  border-radius: 15px 0px 0px 15px;
  width: 30%;
  height: 23%;
  position: absolute;
  left: 4.5%;
  top: 9%;
}
.date-rectangle {
  background: #c1dbef;
  border-radius: 0px 15px 15px 0px;
  width: 60%;
  height: 23%;
  position: absolute;
  left: 34.5%;
  top: 9%;
}
.user {
  color: #ffffff;
  text-align: center;
  font: 700 16px "NanumSquare Neo", sans-serif;
  position: relative;
  top: 12%;
}
.YDM {
  color: #000000;
  text-align: center;
  font: 700 14px "NanumSquare Neo", sans-serif;
  position: relative;
  top: 16%;
}

.notice-rectangle {
  background: #0090ff;
  border-radius: 6px;
  width: 20%;
  height: 19%;
  position: absolute;
  left: 5.5%;
  top: 40%;
  box-shadow: inset 1px 4px 4px 0px rgba(255, 255, 255, 0.25);
}
.alarms {
  color: #ffffff;
  text-align: center;
  font: 700 15px "NanumSquare Neo", sans-serif;
  position: relative;
  top: 10%;
}

.URalarms {
  color: #000000;
  text-align: center;
  font: 700 15px "NanumSquare Neo", sans-serif;
  position: absolute;
  left: 29.5%;
  top: 41.7%;
  display: inline-block;
}
.numscolor {
  color: #ff0000;
  display: inline-block;
}
.notice-rectangle2 {
  background: #ff6666;
  border-radius: 6px;
  width: 20%;
  height: 19%;
  position: absolute;
  left: 5.5%;
  top: 70%;
  box-shadow: inset 1px 4px 4px 0px rgba(255, 255, 255, 0.25);
}
.report {
  color: #ffffff;
  text-align: center;
  font: 700 15px "NanumSquare Neo", sans-serif;
  position: relative;
  top: 10%;
}
.URreport {
  color: #000000;
  text-align: center;
  font: 700 15px "NanumSquare Neo", sans-serif;
  position: absolute;
  left: 29.5%;
  top: 72%;
  display: inline-block;
}


/* pageing */

.SUList {
  width: 100%;
  height: 100%;
  position: relative;
}

.category-top {
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;
  overflow: hidden;
}
.JInfo {
  color: #000000;
  text-align: center;
  font: 700 24px "NanumSquare Neo", sans-serif;
  position: absolute;
  left: 67px;
  top: 19px;
}
.IAMN {
  color: #0090ff;
  text-align: center;
  font: 700 24px "NanumSquare Neo", sans-serif;
  position: absolute;
  left: 270px;
  top: 19px;
}

.category-bottom {
  width: 690px;
  height: 64px;
  position: absolute;
  left: 270px;
  top: 64px;
  overflow: hidden;
}
.sngList {
  color: #000000;
  text-align: center;
  font: 700 24px "NanumSquare Neo", sans-serif;
  position: absolute;
  left: 22px;
  top: 19px;
}
.MRds {
  color: #000000;
  text-align: center;
  font: 700 24px "NanumSquare Neo", sans-serif;
  position: absolute;
  left: 285px;
  top: 19px;
}
.NCH {
  color: #000000;
  text-align: center;
  font: 700 24px "NanumSquare Neo", sans-serif;
  position: absolute;
  left: 500px;
  top: 19px;
}

