.menu,
.menu * {
  box-sizing: border-box;
}
.menu {
  border-style: solid;
  border-color: #c8c8c8;
  border-width: 0px 0px 1px 0px;
  width: 960px;
  height: 128px;
  position: relative;
  overflow: hidden;
}
.category-bottom {
  width: 690px;
  height: 64px;
  position: absolute;
  left: 270px;
  top: 64px;
  overflow: hidden;
}
.----------- {
  color: #000000;
  text-align: center;
  font: 700 24px "NanumSquare Neo", sans-serif;
  position: absolute;
  left: 22px;
  top: 19px;
}
.------ {
  color: #000000;
  text-align: center;
  font: 700 24px "NanumSquare Neo", sans-serif;
  position: absolute;
  left: 285px;
  top: 19px;
}
.-------- {
  color: #000000;
  text-align: center;
  font: 700 24px "NanumSquare Neo", sans-serif;
  position: absolute;
  left: 500px;
  top: 19px;
}
.category-top {
  width: 690px;
  height: 64px;
  position: absolute;
  left: 270px;
  top: 0px;
  overflow: hidden;
}
.----- {
  color: #000000;
  text-align: center;
  font: 700 24px "NanumSquare Neo", sans-serif;
  position: absolute;
  left: 67px;
  top: 19px;
}
.--------2 {
  color: #0090ff;
  text-align: center;
  font: 700 24px "NanumSquare Neo", sans-serif;
  position: absolute;
  left: 270px;
  top: 19px;
}
.login {
  border-style: solid;
  border-color: #c8c8c8;
  border-width: 0px 1px 0px 0px;
  width: 270px;
  height: 128px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
.name-rectangle {
  background: #4fa2e2;
  border-radius: 15px 0px 0px 15px;
  width: 78px;
  height: 30px;
  position: absolute;
  left: 14px;
  top: 11px;
}
.date-rectangle {
  background: #c1dbef;
  border-radius: 15px 0px 0px 15px;
  width: 162px;
  height: 30px;
  position: absolute;
  left: 254px;
  top: 41px;
  transform-origin: 0 0;
  transform: rotate(-180deg) scale(1, 1);
}
.--- {
  color: #ffffff;
  text-align: left;
  font: 700 16px "NanumSquare Neo", sans-serif;
  position: absolute;
  left: 30px;
  top: 17px;
}
._2023--01--15- {
  color: #000000;
  text-align: left;
  font: 700 16px "NanumSquare Neo", sans-serif;
  position: absolute;
  left: 105px;
  top: 17px;
}
.---button {
  width: 52px;
  height: 23px;
  position: static;
}
.notice-rectangle {
  background: #0090ff;
  border-radius: 6px;
  width: 52px;
  height: 23px;
  position: absolute;
  left: 14px;
  top: 53px;
  box-shadow: inset 1px 4px 4px 0px rgba(255, 255, 255, 0.25);
}
.-- {
  color: #ffffff;
  text-align: left;
  font: 700 15px "NanumSquare Neo", sans-serif;
  position: absolute;
  left: 23px;
  top: 56px;
}
.-----2 {
  width: 121px;
  height: 17px;
  position: static;
}
.------2 {
  color: #000000;
  text-align: left;
  font: 700 15px "NanumSquare Neo", sans-serif;
  position: absolute;
  left: 76px;
  top: 56px;
}
._2 {
  color: #ff0000;
  text-align: center;
  font: 700 15px "NanumSquare Neo", sans-serif;
  position: absolute;
  left: 161px;
  top: 56px;
}
.fix {
  color: #000000;
  text-align: left;
  font: 700 15px "NanumSquare Neo", sans-serif;
  position: absolute;
  left: 182px;
  top: 56px;
}
.notice-rectangle2 {
  background: #ff6666;
  border-radius: 6px;
  width: 52px;
  height: 23px;
  position: absolute;
  left: 14px;
  top: 88px;
  box-shadow: inset 1px 4px 4px 0px rgba(255, 255, 255, 0.25);
}
.--2 {
  color: #ffffff;
  text-align: left;
  font: 700 15px "NanumSquare Neo", sans-serif;
  position: absolute;
  left: 23px;
  top: 91px;
}
.------3 {
  color: #000000;
  text-align: left;
  font: 700 15px "NanumSquare Neo", sans-serif;
  position: absolute;
  left: 76px;
  top: 91px;
}
._1 {
  color: #ff0000;
  text-align: center;
  font: 700 15px "NanumSquare Neo", sans-serif;
  position: absolute;
  left: 162px;
  top: 91px;
}
.fix2 {
  color: #000000;
  text-align: left;
  font: 700 15px "NanumSquare Neo", sans-serif;
  position: absolute;
  left: 182px;
  top: 91px;
}
.line-1 {
  position: absolute;
  left: 278px;
  top: 63.5px;
  overflow: visible;
}
